body {
    background-color: black;
    color: seashell;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(190, 228, 252);
}

.order_button {
    /* background-image: linear-gradient(to right, rgb(211, 95, 0), rgb(233, 229, 222));
    padding: 10px 20px;
    border-radius: 0.5em;
    text-decoration: none;
    color: black;
    border: 5px solid rgb(99, 75, 75); */
    background-image: linear-gradient(to bottom right, rgb(207, 111, 0), rgb(245, 230, 190));
    filter: brightness(120%);
    color: black;
    padding: 5px 10%;
    font-family: 'Nunito';  
    border-radius: 1em;
    border: 3px solid rgb(107, 80, 4);
}

.order_button:hover {
    /* background-image: linear-gradient(to bottom right, darkred, goldenrod); */
    background-image: linear-gradient(to bottom right, red, rgb(248, 209, 194));
}

h2 {
    font-size: 2em;
}

header {
    border-bottom: 1px solid seashell;
    height: 70px;
}

#logo {
    display: inline-flex;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    /* margin-top: 10px; */
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    border: 4px solid rgb(90, 126, 148);
    border-radius: 100%;
    padding: 2px 0px 2px 8px;
    background-color: lightgoldenrodyellowl;
}

.header {
    display: inline-flex;
    width: 80%;
    justify-content: space-around;
    float: right;
    text-decoration: underline;
    opacity: 0.8;
    line-height: 0.4em;
}

.mission {
    position: relative;
}

.mission img {
    display: block;
    margin: 0 auto;
    height: 700px;
    filter: blur(3px);
}

.mission_banner {
    width: 100%;
    text-align: center;
    background-color: black;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1em;
    padding-top: 10px; padding-bottom: 30px;

}

.tea_types {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.tea_types h2 {
    line-height: 0.3em;
}

.tea_types .tea_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
}

.tea_images .type_of_tea h3 {
    text-align: center;
    line-height: 0;
    margin-bottom: 60px;
}

.tea_types img {
    width: 300px;
    height: 200px;
    margin: 0px 10px;
    border: lightgoldenrodyellow 1px solid;
    border-radius: 1em;
}

.chefs {
    text-align: center;
}

.chefs h2 {
    line-height: 0.8em;
}

.chefs_layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chefs img {
    width: 300px;
    height: 300px;
    margin: 0px 80px;
    border-radius: 1em;
}

.chefs h4 {
    width: 300px;
    margin-left: 80px;
}

.locations {
    position: relative;
}

.locations img {
    display: block;
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    filter: blur(3px);
}

.locations h3 {
    text-decoration: underline;
}

#locations_title {
    text-align: center;
}

.locations_boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.locations_boxes .single_location {
    background-color: black;
    width: 300px;
    text-align: center;
    margin: 5px 0;
    border-radius: 0.2em;
}



footer .info {
    text-align: center;
}




/* ADD 17PX to VALUE LISTED AT INSPECT WEBPAGE */
@media screen and (max-width: 1200px) {
    .header {width: 90%;}
    .locations img {width: 100%;}
}

@media screen and (max-width: 1060px) {
    .mission img {width: 100%; height: auto;}
}

@media screen and (max-width: 1000px) {
    .tea_types {width: 650px;}
}

@media screen and (min-width: 980px) {
    .tea_types h2 {margin-top: 90px;}
}

@media screen and (max-width: 830px) {
    .locations_boxes .single_location {width: 250px;}
}

@media screen and (max-width: 785px) {
    .header {font-size: 0.6em;}
}

@media screen and (max-width: 700px) {
    .locations_boxes {width: 90%;}
    .tea_types {width: 350px;}
}

@media screen and (max-width: 600px) {
    .header {width: 90%;}
    .locations img {height: 700px; margin-bottom: 10px;}
}

@media screen and (max-width: 475px) {
    .header {width: 100%; display: inline-flex;}
    .tea_types {width: 100%;}
}

@media screen and (max-width: 310px) {
    .mission_banner {width: 290px; position: relative;}
    .header {text-align: center; line-height: 2em;}
}



/* Drinks Order Page */

main {
  height: 600px;
  position: relative;
  font-size: 1.3em;
}

.order_page_h2 {
    text-align: center;
}

.drink_form {
    border: 5px solid rgb(191, 226, 248);
    /* width: 800px; */
    width: 70%;
    position: absolute;
    /* top: 55%; */
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 10px 50px;
    border-radius: 0.5em;
    margin-top: 20px;
}

.drink_form label {
    float: left;
}

.drink_form input, .drink_form select, .drink_form textarea {
    float: right;
    font-size: 1em;
    border-radius: 0.3em;
    padding: 5px;
    font-family: 'Nunito';
}

#submit_order {
    background-image: linear-gradient(to bottom right, rgb(207, 111, 0), rgb(245, 230, 190));
    filter: brightness(120%);
    color: black;
    padding: 5px 15%;
    font-family: 'Nunito';  
    border-radius: 1em;
}

#submit_order:hover {
    filter: brightness(100%);
}

#return_home {
    display: none;
    text-decoration: underline;
}

#return_home:hover {
    color: lightpink;
}

#cost_span {
    color: green;
}